/s3_object_sizes.txt
/blobstore_mongo_sizes.txt
/ws_mongo_sizes.txt
/berdl_s3_object_sizes.txt
/berdl_s3_object_sizes_histogram.png
/blobstore_s3_object_sizes.txt
/blobstore_s3_object_sizes_histogram.png
/ws_s3_object_sizes.txt
/ws_s3_object_sizes_histogram.png
/__pycache__/
/s3_client_test_results.txt
/.venv/
